{% extends 'main/template.html' %}

{% block title %} {{ title }} {% endblock %}
{% block main %}
    <div class="features">
        <h1>{{ title }}</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, blanditiis, dicta dolor dolorem dolores ea eos fuga harum iste maxime minima mollitia natus neque nesciunt quidem soluta ullam velit voluptas! Ad aliquam culpa doloremque fuga in inventore quidem reiciendis voluptatum. Accusamus, ad blanditiis culpa ducimus ea eos esse exercitationem id ipsa magni maxime nam perspiciatis placeat possimus quas quasi qui quos rem soluta voluptatem. Accusantium corporis expedita facilis id illo illum minus nesciunt quaerat repellendus vel? Alias aliquid beatae earum eveniet, in inventore laudantium maiores modi odio quos recusandae repudiandae rerum saepe sequi, sunt. Facilis natus necessitatibus odit perspiciatis soluta.</p>
    </div>
{% endblock %}